body {
    background: #cdb9d5;
    font-family: arial, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    margin: 0;
}


.content {
    width: 220px;
    background: #b1a1b8;
    overflow: hidden;
    border-radius: 20px;
    box-shadow: 0 10px 30px;
    text-align: center;
    padding: 5px 5px;
    align-items: center;
    position: relative;
    margin-top: 80px;



}

.img {
    background: #b4cfd110;
    padding: 20px;
    text-align: center;
    box-shadow: 0 10px;





}

.img img {
    width: 100%;
}

h2 {

    font-weight: 600;



}


.tag1 {
    display: inline-block;
    border: 1px solid black;
    padding: 5px 15px;
    border-radius: 5px;
    font-weight: bold;
    margin-bottom: 10px;
    text-transform: uppercase;
    margin-right: 10px;

}

.tag2 {
    display: inline-block;
    border: 1px solid black;
    padding: 5px 15px;
    border-radius: 5px;
    font-weight: bold;
    margin-bottom: 10px;
    text-transform: uppercase;

}

p {
    padding: 3px;
    font-size: 14px;
    line-height: 1, 4;

}

.price1 {
    padding-left: 10px;
    text-align: left;

}

.price {
    font-weight: bold;
    text-align: left;
    padding-left: 10px;
}

.box {
    text-align: right;
    padding-left: 45px;
    padding-bottom: 45px;
    background-color: #434278;
    color: white;
    padding: 12px 24px;
    border: none;
    border-radius: 12px;
    font-size: 16px;
    font-weight: 500;
    cursor: pointer;
    transition: 0.3s;



}


.box:hover {
    background-color: #2b2a52;
    transform: scale (1.05);


}

.fixedheader {
    position: fixed;
    background: black;
    top: 0;
    left: 0;
    padding: 1px;
    color: white;
    width: 100%;
    z-index: 1000;
    text-align: center;
}

.floatbtn1 {
    position: absolute;
    top: 15px;
    left: 15px;
    text-decoration: none;
    font-size: 20px;

}

.floatbtn2 {
    position: absolute;
    top: 15px;
    right: 15px;
    text-decoration: none;
    font-size: 20px;
}

.floatbtn1,
.floatbtn2 {
    position: absolute;
    top: 15px;
    font-size: 20px;
    text-decoration: none;
    background: white;
    padding: 8px;
    border-radius: 50%;

    opacity: 0;
    transition: 0.3s;
}

.content:hover .floatbtn1,
.content:hover .floatbtn2 {
    opacity: 1;
}

.content {
    transition: 0.6s;
}

.content:hover {
    transform: translateY(-10px);
}